@font-face {
  font-family: "OpenSansRegular";
  src: url("./OpenSans-Regular.woff2") format("woff2"),
    url("./OpenSans-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: black;
  font-family: "OpenSansRegular";
}
